<?xml version="1.0" encoding="UTF-8" ?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
    "
	default-lazy-init="true" >
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean" >
		<!-- shiro的核心安全接口 -->
		<property name="securityManager" ref="securityManager" />
		<!-- 要求登录时的链接地址 -->
		<property name="loginUrl" value="/login" />
		<!-- 登陆成功后要跳转的地址 -->
		<property name="successUrl" value="/menu/list" />
		<!-- 未认证时要跳转的地址 -->
		<property name="unauthorizedUrl" value="/login" />
		<!-- shiro连接约束限制 -->
		<property name="filterChainDefinitions">
			<value>
				<!-- anon 表示匿名访问（不需要认证与授权） authc 表示需要认证 perms[SECURITY_ACCOUNT_VIEW] 表示用户需要提供值为“SECURITY_ACCOUNT_VIEW”Permission 
					信息 由此可见，连接地址配置为 authc 或 perms[XXX] 表示为受保护资源。 -->
				/resources/**=anon
				/login/**=anon
				/** = authc
			</value>
		</property>
	</bean>

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" >
		<property name="realm" ref="myRealm" />
		<!-- <property name="cacheManager" ref="shiroEhcacheManager" /> -->
	</bean>

	<bean id="myRealm" class="com.Master5.main.shiro.ShiroRealm" >
		<property name="userDao" ref="userDao" />
	</bean>
	<!-- 用户授权/认证信息Cache, 采用EhCache -->
	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager" >
		<property name="cacheManagerConfigFile" value="classpath:spring-shiro-ehcache.xml" />
	</bean>

	<!-- Shiro生命周期处理器 -->
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
	<!-- AOP式方法级权限检查 -->

	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" >
		<property name="proxyTargetClass" value="true" />
	</bean>
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>
	<bean name="userService" class="com.Master5.main.web.user.service.UserService" >
	</bean>

</beans>
